* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    padding: 20px;;

}

.display {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    text-align: right;
    background-color: lightblue;
    font-size: 2rem;
   
   
}

.btns {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    margin-top: 20px;
   
}

.btns button {
    width: 100%;
    height: 60px;
    border: 1px solid black;
    font-size: 1.5rem;
    cursor: pointer;
}